@page
@model TeamE_SacramentPlanner.Pages.IndexModel

@{
    ViewData["Title"] = "Sacrament Meeting Planner Home";
}

<h1>Sacrament Meeting Planner</h1><br />
<a href="MeetingPrograms/Create" class="btn btn-primary add-space">Create New Program</a><br/>

<a href="MeetingPrograms" class="btn btn-primary add-space">View Historical Meetings</a><br/>

<a href="Speakers" class="btn btn-primary add-space">View Historical Speakers</a>


