@page
@model TeamE_SacramentPlanner.Pages.IndexModel

@{
    ViewData["Title"] = "Sacrament Meeting Planner Home";
}

<h1>Sacrament Meeting Planner</h1>
<a href="MeetingPrograms/Create">Create New Program</a><br/>

<a href="MeetingPrograms">View Historical Meetings</a><br/>

<a href="Speakers">View Historical Speakers</a>


