@media print {
   body {
       background-color: white;
   }

    h4 {
       display: block;
       text-align: center;
       font-size: 3rem;
   }

   dt,
   dd {
       padding-top: 1em;
   }

   dd {
       text-align: right;
   }

   dl {
       font-size: 2rem;
       padding-top: 2em;
   }

   .col-print {
       flex-basis: 50%;
       max-width: 50%;
   }
}
